[submodule "vimpager"]
	path = vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:sw1nn/oh-my-zsh.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:sw1nn/oh-my-zsh.git
