[submodule "submodule/oh-my-zsh"]
	path = submodule/oh-my-zsh
	url = https://github.com/sw1nn/oh-my-zsh.git
[submodule "submodule/clojure-mode"]
	path = submodule/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "submodule/vimpager"]
	path = submodule/vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "submodule/vim-powerline"]
	path = submodule/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "submodule/vim-fugitive"]
	path = submodule/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodule/vimclojure"]
	path = submodule/vimclojure
	url = https://github.com/kotarak/vimclojure.git
[submodule "submodule/vim-colors-solarized"]
	path = submodule/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "submodule/expand-region"]
	path = submodule/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "submodule/ac-nrepl"]
	path = submodule/ac-nrepl
	url = git://github.com/purcell/ac-nrepl.git
[submodule "submodule/auto-complete"]
	path = submodule/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "submodule/browse-kill-ring"]
	path = submodule/browse-kill-ring
	url = git://github.com/browse-kill-ring/browse-kill-ring.git
[submodule "submodule/multiple-cursors"]
	path = submodule/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule "submodule/align-cljlet"]
	path = submodule/align-cljlet
	url = git://github.com/gstamp/align-cljlet
[submodule "submodule/popup"]
	path = submodule/popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "submodule/ritz"]
	path = submodule/ritz
	url = git@github.com:pallet/ritz
[submodule "submodule/emacs-git-gutter-fringe"]
	path = submodule/emacs-git-gutter-fringe
	url = git://github.com/syohex/emacs-git-gutter-fringe.git
[submodule "submodule/emacs-git-gutter"]
	path = submodule/emacs-git-gutter
	url = git://github.com/syohex/emacs-git-gutter.git
[submodule "submodule/popwin-el"]
	path = submodule/popwin-el
	url = git://github.com/m2ym/popwin-el.git
[submodule "submodule/nrepl"]
	path = submodule/nrepl
	url = git://github.com/sw1nn/nrepl.el
