locals.zsh
log/.zsh_history
projects.zsh
cache
*.swp
*.elc
/.emacs.d/elpa
/.emacs.d/quelpa
/.emacs.d/var
/.emacs.d/eshell/history
/.emacs.d/places
/.emacs.d/tramp
/.emacs.d/url/cookies
/.emacs.d/.customize.el
/.emacs.d/.erc-auth
/.emacs.d/.smex-items
/.emacs.d/ac-comphist.dat
/.emacs.d/.pastebin-auth
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/.recentf
/.emacs.d/image-dired
/.ssh/id_rsa*
/.emacs.d/.refheap-auth
/.emacs.d/.mc-lists.el
/.vim/.netrwhist
/.emacs.d/history
/.lein/repl-history
/.emacs.d/org-clock-save.el
/.emacs.d/.nrepl-history
/.emacs.d/.cider-history
/.emacs.d/.user-info
/.emacs.d/session.*
/.xmonad/history
/.emacs.d/bookmarks
/.emacs.d/secrets
