[user]
        name = Neale Swinnerton
	email = neale@sw1nn.com
	mail = neale@sw1nn.com
#	signingkey = 04037DBD
[alias]
        lg = log --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr)%Creset' --abbrev-commit --date=relative
        wdiff = diff --word-diff=color
        addw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero' -

[core]
    excludesfile = ~/.gitignore_global
[color]
        ui = true
[push]
	default = simple
[diff]
        algorithm = patience
[include]
        path= ~/.gitconfig_private
[branch]
	autosetuprebase = always
[init]
        templatedir = ~/workspace/dotfiles/git_template
[url "https://github.com/"]
    insteadOf = gh:
