[user]
        name = Neale Swinnerton
	email = neale@sw1nn.com
[alias]
        lg = log --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr)%Creset' --abbrev-commit --date=relative
        wdiff = diff --word-diff=color
[core]
    excludesfile = ~/.gitignore_global
[color]
        ui = true
[push]
	default = simple
[diff]
        algorithm = patience
[include]
        path= ~/.gitconfig_private
[branch]
	autosetuprebase = always
[init]
	templatedir = /home/neale/workspace/dotfiles/git_template
