*elc
/.emacs.d/ac-comphist.dat
/.emacs.d/*newsrc-dribble*
/.emacs.d/.smex-items
/.emacs.d/abbrev_defs
/.emacs.d/auto-save-list
/.emacs.d/backups
/.emacs.d/elpa
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
/.emacs.d/mail
/.emacs.d/news
/.emacs.d/places
/.emacs.d/swank
/.emacs.d/tramp
/.emacs.d/url
/.vim/tmp/*.swp
/.ssh/id_*
