[user]
        name = Neale Swinnerton
        email = neale@isismanor.com
	signingkey = 85904410
[alias]
        lg = log --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr)%Creset' --abbrev-commit --date=relative
        wdiff = diff --word-diff=color
[core]
    excludesfile = ~/.gitignore_global
[color]
        ui = true
[push]
        default = tracking
[diff]
        algorithm = patience
[include]
        path= ~/.gitconfig_private
[branch]
	autosetuprebase = always
