locals.zsh
log/.zsh_history
projects.zsh
cache
*.swp
*.elc
/.emacs.d/eshell/history
/.emacs.d/places
/.emacs.d/tramp
/.emacs.d/url/cookies
/.emacs.d/.erc-auth
/.emacs.d/.smex-items
/.emacs.d/ac-comphist.dat
/.emacs.d/.pastebin-auth
/.emacs.d/image-dired
/.ssh/id_rsa*
/.emacs.d/.refheap-auth
/.emacs.d/.mc-lists.el
