! -*- eval:(rainbow-mode) -*-
!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                                 96
Xft.rgba:                                rgb
Xft.hinting:                             true
Xft.hintstyle:                           hintfull

emacs.background:                        #002b36
emacs.foreground:                        #657b83

dzen2.font:                              xft:DejaVu Sans Mono for Powerline:pixelsize=64
dzen2.foreground:                        #fdf6e3
dzen2.background:                        #555555
dzen2.opacity:                           70

Xcursor.theme:                           Adwaita
Xcursor.size:                            16

Xautolock.locker:                        i3lock -d -i ~/backgrounds/lock.png
